.homefull {
  background-image: url(./images/bg3.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.msg1 {
  margin-left: 42px;
  margin-top: 20px;
  font-family: "PT Serif", serif;
  width: 300px;
  padding: 5px;
}

.buildheader {
  font-family: "Goldman", cursive;
}

p {
  font-family: "PT Serif", serif;
}
.intro {
  float: left;
  height: 550px;
  width: 420px;
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  margin-left: 40px;
  margin-top: 5px;
  padding: 10px;
  overflow: auto;
}

.navbar-brand {
  font-family: "Goldman", cursive;
  justify-self: flex-start;
  margin-right: auto;
}

.navbar {
  width: 100%;
  background-color: #dadee8;
}

.myButton {
  background: linear-gradient(to bottom, #44c767 5%, #b2d69f 100%);
  background-color: #44c767;
  border-radius: 8px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 1px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #b2d69f 5%, #44c767 100%);
  background-color: #b2d69f;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b2d69f;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #44c767;
}
::-webkit-scrollbar-thumb:active {
  background: #44c767;
}
::-webkit-scrollbar-track {
  background: #b8b8b8;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #9c9c9c;
}
::-webkit-scrollbar-track:active {
  background: #918e95;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
