ol {
  font-family: "Goldman", cursive;
  width: 100%;
}

.statContainer {
  clear: both;
  display: flex;
  justify-content: center;
}

.statWord {
  font-family: "Goldman", cursive;
  text-align: center;
}

.weakWords {
  display: flex;
  justify-content: center;
}

.weakWord, .vWeakWord {
  font-family: "Goldman", cursive;
  width: 50%;
  text-align: center;
}

.weakContainer {
  display: flex;
  justify-content: center;
}

.breakdown {
  columns: 8;
  text-align: center;
  font-family: "Goldman", cursive;
}

.weak, .vWeak {
  columns: 3;
  font-family: "Goldman", cursive;
  text-align: center;
  width: 50%;
}

.type {
  height: 20px;
  width: 80px;
}

.myButton2 {
  background: linear-gradient(to bottom, #007dc1 5%, #6e9fc2 100%);
  background-color: #007dc1;
  border-radius: 8px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin: 1px;
  justify-self: flex-start;
  margin-right: auto;
}
.myButton2:hover {
  background: linear-gradient(to bottom, #6e9fc2 5%, #007dc1 100%);
  background-color: #6e9fc2;
}
.myButton2:active {
  position: relative;
  top: 1px;
}
.myButton3 {
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 8px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin: 1px;
  justify-self: flex-start;
  margin-right: auto;
}
.myButton3:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.myButton3:active {
  position: relative;
  top: 1px;
}
