html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.containeroak {
  margin: auto;
}
.SignUp {
  display: inline-flex;
  width: 100%;
  align-content: center;
}

.oak {
  height: 508px;
  width: 280px;
  margin-top: auto;
  margin-bottom: auto;
}
.signcard2 {
  height: 500px;
  width: 325px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

a {
  font-family: "Roboto", sans-serif;
  color: brown;
}

/**for mobile version make card thinner**/
@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
