html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.containeroak {
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 80%;
}

.row {
  padding: 2%;
}

.oak {
  height: 508px;
  width: 280px;
}

.signcard2 {
  height: 500px;
  width: 325px;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

a {
  font-family: "Roboto", sans-serif;
  color: brown;
}

/**for mobile version make card thinner**/
@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
