html,
body {
  margin: 0px;
}

.signcard {
  background-color: whitesmoke;
  opacity: 0.8;
  height: 450px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

a {
  font-family: "Roboto", sans-serif;
  color: brown;
}

/**for mobile version make card thinner**/
@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
