html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.signcard {
  /*background-color: whitesmoke;
  opacity: 0.8;
  height: 450px;
  width: 300px;
  margin-top: 75px;
}*/
  height: 400px;
  width: 325px;
}

.card-header {
  background-color: #2f8b48;
  font-family: "Goldman", cursive;
  font-size: 30px;
}

.card-body {
  color: black;
  background-color: whitesmoke;
  font-family: Arial;
}

.card-footer {
  width: 325px;
}

.container-fluid {
  align-content: center;
  height: 100%;
  display: flex;
}

/**for mobile version make card thinner**/
@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
