html,
body {
  margin: 0px;
}
.TrainerCard {
  justify-content: center;
}

.trainerpic {
  justify-self: flex-end;
  margin-left: auto;
}

.cardname {
  font-family: "Goldman", cursive;
  font-size: 45px;
}

.trainer {
  height: 475px;
  width: 600px;
  margin-top: 75px;
}
#card-header-trainer {
  color: white;
  background-color: #0070ad;
  padding-left: 20px;
}

.card-body-trainer {
  justify-content: space-between;
  display: inline-flex;
  flex-basis: 100%;
  color: #3c240f;
  width: 600px;
  font-family: "Goldman", cursive;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  background-image: url(./images/bg2.png);
}

.container-fluid {
  height: 100vh;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}

#trainer-footer {
  display: inline-flex;
  width: 600px;
  font-size: 20px;
  font-family: "Goldman", cursive;
  color: white;
  background-color: #0070ad;
  padding-left: 25px;
}

.badges {
  align-self: flex-start;
  margin-right: 100px;
}

#badges-name {
  font-family: "Goldman", cursive;
  font-size: 20px;
}

.links {
  justify-content: space-between;
  display: inline-flex;
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
/**for mobile version make card thinner**/
@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
